src/DevCom.CustomGIS/DevCom.CustomGIS.Interface/obj/
src/DevCom.CustomGIS/DevCom.CustomGIS.Interface/bin/
src/DevCom.CustomGIS/DevCom.OpenGIS.App/obj/
src/DevCom.CustomGIS/DevCom.OpenGIS.App/bin/
src/DevCom.CustomGIS/.vs/
